name: Renpy Build

on:
  # 1. 当代码推送到 main 分支时触发
  push:
    branches:
      - main
  
  # 2. 允许手动触发
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4

      - name: 调整目录结构
        run: |
            mkdir ../game
            mv ./* ../game
            ls
            mv ../game .
            mv game/android.json .
            ls && ls game
            
      - name: 初始化环境
        run: |
            wget -q -O renpy.tar.bz2 https://www.renpy.org/dl/8.5.1/renpy-8.5.1-sdk.tar.bz2
            echo '下载完成：renpy.tar.gz'
            tar xjf renpy.tar.bz2
            ls
            #mv renpy-8.5.1-sdk renpy
            rm renpy-8.5.1-sdk.tar.bz2
            cd renpy
            wget -q https://www.renpy.org/dl/8.5.1/renpy-8.5.1-rapt.zip
            echo '下载完成：rapt'
            unzip renpy-8.5.1-rapt.zip
            rm renpy-8.5.1-rapt.zip
            mv rapt/* ./ && rm -r rapt
            echo '当前目录'
            ls
            