name: RenPy Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4
        run: |
          ls

          
      - name: Build VN project
        uses: ProjectAliceDev/renpy-build-action@master
        with:
          sdk-version: '8.5.0'
          project-dir: '${{ github.workspace }}'
          package: |
            win
            web
            android
          dir: ${{ github.workspace }}/output
        env:
          SDL_AUDIODRIVER: dummy
          SDL_VIDEODRIVER: dummy

      - name: 上传构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output
          path: ${{ github.workspace }}/output/*
