name: Renpy Build

on:
  # 1. 当代码推送到 main 分支时触发
  push:
    branches:
      - main
  
  # 2. 允许手动触发
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4

      - name: 调整目录结构
        run: |
          mkdir ../game && mkdir ../build
          mv ./* ../game
          ls
          mv ../game ../build
          mv ../build/game/android.json ../build/
          mv ../build .
          ls && ls build
          echo "game文件夹所在目录：$GITHUB_WORKSPACE/build"

      - name: 初始化环境
        run: |
          wget -q https://www.renpy.org/dl/8.5.1/renpy-8.5.1-sdk.tar.bz2
          echo '下载完成：renpy.tar.gz'
          tar xjf renpy-8.5.1-sdk.tar.bz2
          ls
          mv renpy-8.5.1-sdk renpy
          rm renpy-8.5.1-sdk.tar.bz2
          echo '主目录：'
          cd $GITHUB_WORKSPACE
          ls
          wget -q https://redirector.gvt1.com/edgedl/android/studio/ide-zips/2025.2.2.8/android-studio-2025.2.2.8-linux.tar.gz
          tar xzf android-studio-2025.2.2.8-linux.tar.gz && ls 
          wget -q https://dl.google.com/android/repository/android-ndk-r27d-linux.zip
          ls
          unzip -q android-ndk-r27d-linux.zip && mv android-ndk-r27d android-ndk
          ls android-sdk
          echo '---------------------'
          ls android-ndk
          mkdir ~/.renpy
          cat > ~/.renpy/android-keys.json << EOF
          {
            "keystore": "$GITHUB_WORKSPACE/build/android.keystore",
            "keystore_password": "$ANDROID_KEYSTORE_PASSWORD",
            "keyalias": "$ANDROID_KEY_ALIAS",
            "key_password": "$ANDROID_KEY_PASSWORD",
          }
          EOF
          
          cat > ~/.renpy/android.json << EOF
          {
            "sdk_root": "$GITHUB_WORKSPACE/android-sdk",
            "ndk_root": "$GITHUB_WORKSPACE/android-ndk"
          }
          EOF
          
      - name: 导入 Android Keystore
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > $GITHUB_WORKSPACE/build/android.keystore
          cat > $GITHUB_WORKSPACE/build/android.json << EOF
          {
            "key_store": "$GITHUB_WORKSPACE/build/android.keystore",
            "key_store_password": "android",
            "key_alias": "android",
            "key_password": "android",
            "update_always_sign": true
          }
          EOF

      - name: 设置 JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 构建Windows版本
        run: |
          cd $GITHUB_WORKSPACE/renpy
          mkdir $GITHUB_WORKSPACE/output-win
          ./renpy.sh launcher distribute $GITHUB_WORKSPACE/build --package win --no-update --destination $GITHUB_WORKSPACE/output-win
          
      - name: 构建Web版本
        run: |
          cd $GITHUB_WORKSPACE/renpy
          mkdir $GITHUB_WORKSPACE/output-web
          ./renpy.sh launcher distribute $GITHUB_WORKSPACE/build --package web --no-update --destination $GITHUB_WORKSPACE/output-web

      - name: 构建Android版本
        run: |
          cd $GITHUB_WORKSPACE/renpy
          mkdir $GITHUB_WORKSPACE/output-android
          ./renpy.sh launcher android_build $GITHUB_WORKSPACE/build --destination $GITHUB_WORKSPACE/output-android
          
      - name: 上传Windows构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output-win
          path: ${{ github.workspace }}/output-win/*
          
      - name: 上传Web构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output-web
          path: ${{ github.workspace }}/output-web/*

      - name: 上传Android构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output-android
          path: ${{ github.workspace }}/output-android/*