name: Renpy Build

on:
  # 1. 当代码推送到 main 分支时触发
  push:
    branches:
      - main
  
  # 2. 允许手动触发
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4

      - name: 调整目录结构
        run: |
            mkdir ../game
            mv ./* ../game
            ls
            mv ../game .
            mv game/android.json .
            ls && ls game