name: Renpy Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4

      - name: 调整目录结构
        run: |
          mkdir ../game && mkdir ../build
          mv ./* ../game
          ls
          mv ../game ../build
          mv ../build/game/android.json ../build/
          mv ../build .
          ls && ls build && ls build/game
          echo "game文件夹所在目录：$GITHUB_WORKSPACE/build"
          
      - name: 设置 JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 初始化环境
        run: |
          mv $GITHUB_WORKSPACE/build/game/renpy.zip ./
          unzip -q renpy.zip
          rm renpy.zip
          echo '主目录：'
          cd $GITHUB_WORKSPACE


      - name: 构建Windows版本
        run: |
          cd $GITHUB_WORKSPACE/renpy
          mkdir $GITHUB_WORKSPACE/output-win
          ./renpy.sh launcher distribute $GITHUB_WORKSPACE/build --package win --no-update --destination $GITHUB_WORKSPACE/output-win
          
#      - name: 构建Web版本
#        run: |
#          cd $GITHUB_WORKSPACE/renpy
#          mkdir $GITHUB_WORKSPACE/output-web
#          ./renpy.sh launcher web_build $GITHUB_WORKSPACE/build --destination $GITHUB_WORKSPACE/output-web

      - name: 构建Android版本
        run: |
          cd $GITHUB_WORKSPACE/renpy
          mkdir $GITHUB_WORKSPACE/output-android
          ./renpy.sh launcher android_build $GITHUB_WORKSPACE/build --destination $GITHUB_WORKSPACE/output-android
          
      - name: 上传Windows构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output-win
          path: ${{ github.workspace }}/output-win/*
          
#      - name: 上传Web构建产物
#        uses: actions/upload-artifact@v4
#        with:
#          name: renpy-build-output-web
#          path: ${{ github.workspace }}/output-web/*

      - name: 上传Android构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output-android
          path: ${{ github.workspace }}/output-android/*
