name: Renpy Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    # 任务步骤
    steps:
      # 步骤 1: 检出代码
      - name: 检出仓库代码
        uses: actions/checkout@v4

      - name: 调整目录结构
        run: |
          mkdir ../game && mkdir ../build
          mv ./* ../game
          ls
          mv ../game ../build
          mv ../build/game/android.json ../build/
          mv ../build .
          ls && ls build && ls build/game
          echo "game文件夹所在目录：$GITHUB_WORKSPACE/build"
          
      - name: Build VN project
        uses: ProjectAliceDev/renpy-build-action@master
        with:
          sdk-version: '8.5.0'
          project-dir: '${{ github.workspace }}/build'
          package: |
            win
            web
            android
          dir: ${{ github.workspace }}/output
        env:
          SDL_AUDIODRIVER: dummy
          SDL_VIDEODRIVER: dummy

      - name: 上传构建产物
        uses: actions/upload-artifact@v4
        with:
          name: renpy-build-output
          path: ${{ github.workspace }}/output/*
